* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color scheme */
  --primary-green: #0F713E;
  --primary-yellow: #F7C35F;
  --primary-grey: #797979;
  --secondar-grey: #CACFD8;

  /* --spacing-small: 1rem; */
  /* --spacing-medium: 2rem; */
  /* --max-width: 1200px; */
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--secondar-grey);
  /* overflow: hidden; */
}
